@import "style.css";

#content {
    /*
    ノート罫線風CSS
    http://lea.verou.me/css3patterns/#lined-paper
    */
    background-image:
            linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
            linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;

    padding: 40px 100px;
    text-align: center;

}

#content img {
    border: solid 1px #ccc;
    border-radius: 5px;
    height: auto;
    margin: 50px;
    width: 80%;
}

.slim {
    width: 100px;
}

.middle {
    width: 180px;
}

.true {
    color: green;
}

.false {
    color: red;
}