@import "style.css";

#content {
    text-align: center;
}

#content img {
    border: solid 1px #ccc;
    border-radius: 5px;
    height: auto;
    margin: 50px;
    width: 80%;
}

.slim {
    width: 100px;
}

.middle {
    width: 180px;
}

.true {
    color: green;
}

.false {
    color: red;
}